<!DOCTYPE html>
<html>
	<head>
		<title>Nick Lee</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<div class='header'>
			<div class="logo">
				<img id='headshot' src="headshot.jpg" style='height: 90px;' alt="">
				<div id='headings'>
					<h1>Nick Lee</h1>
					<h2>JavaScript Developer</h2>
				</div>
			</div>
			
			<nav>
	    		<ul style='float:right'>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/">Blog</a></li>
	        		<li><a href="/NickLeeresume.pdf">Resume</a></li>
	    		</ul>
			</nav>

		</div>
